html {
  font-family: 'Jost', sans-serif;

}

body {
  font-size: 18px;
  background: blue
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

.title {
  font-size: 4em;

}

.content {


}